@import "_variables"
.first
    padding-top: 100px

.container-1
    width: 1140px
    margin: 0 auto

.furniture-slider__wrapper
    display: flex
    justify-content: space-between
    align-items: center
    .container-1-text
        display: flex
        flex-direction: column
        height: 360px
        h1
            font: $font-700-lg-pl
            text-transform: uppercase
            line-height: 82px
            color: #303032
            padding-bottom: 35px
        p
            font: $font-400-lg-op
            color: #303032
            line-height: 27px
            padding-bottom: 10px
        &__price
            padding-bottom: 35px
            #first-380
                font: $font-400-lg-op
                color: #303032
            #first-240
                font: $font-600-lg-op
                color: #303032
        button
            width: 238px
            height: 58px
            text-transform: uppercase
            font: $font-400-md-op
            color: #ffffff
            background-color: #303032
            border: none
            cursor: pointer
            &:hover
                background-color: darken(#303032, 10%)
            &:focus
                background-color: lighten(#303032, 15%)
                

