@import "_variables"
.fourth
    z-index: 1
    position: relative
    padding-bottom: 172px
    .bg
        position: absolute
        z-index: -2
        top: -10%
    .container-4
        width: 1180px
        height: 450px
        margin: 0 auto
        display: flex
        flex-direction: column
        padding-bottom: 100px
        .text-block-4
            padding-bottom: 40px
            font: $font-700-sm-pl
        .furniture-types-4
            padding-bottom: 25px
            .type
                padding-right: 49px
                color: darken(grey, 15%)
                font: $font-600-sm-op
                cursor: pointer
                &:hover
                    color: #303032
        .chairs-catalogue-4
            display: flex
            flex-wrap: wrap
            justify-content: space-between
            .with-button
                button
                    width: 209px
                    height: 59px
                    background-color: #303032
                    color: white
                    font: $font-400-md-op
                    border: none
                    opacity: 0
                    cursor: pointer
                    &:hover
                        background-color: darken(#303032, 15%)
                .catalogue-block
                    background-color: #ffffff
                    width: 208px
                    height: 400px
                    display: flex
                    flex-direction: column
                    cursor: pointer
                    .block-4__heading
                        font: $font-400-md-op
                        line-height: 22px
                        color: #303032
                        padding-top: 20px
                        padding-left: 12px
                    .price-4
                        padding-left: 12px
                        .new
                            font: $font-600-md-op
                            color: #303032
                            line-height: 38px
                        .old
                            font: $font-600-sm-op
                            color:#979798
                &:hover
                    button
                        opacity: 1
                    .catalogue-block
                        border-top: 4px solid #303032